<p id="notice"><%= notice %></p>

<h1>Listing Baas</h1>

<table>
  <thead>
    <tr>
      <th>Signature</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baas.each do |baa| %>
      <tr>
        <td><%= baa.signature %></td>
        <td><%= baa.user_id %></td>
        <td><%= link_to 'Show', baa %></td>
        <td><%= link_to 'Edit', edit_baa_path(baa) %></td>
        <td><%= link_to 'Destroy', baa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baa', new_baa_path %>
