<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id='template_edit'>
<%= image_tag @template.processed_attachement_url, width: '1110'%>

</div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-success btn-lg text-center navbutton signbutton'%>
  </div>

<% end %>
