<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
<%=link_to (image_tag("logo.png", width: '200', height: '75', :class => "sidebar-img")), root_path %>
                    </a>
                </li>
                <br>
                <li>
                <li><%= link_to (image_tag("home.png", width: '15', height: '15')) + "  My Dashboard", root_path %>
                </li>
                <li><%= link_to (image_tag("edit.png", width: '15', height: '15')) + " My Templates", templates_path %></li>
                <li><%= link_to (image_tag("profile.png", width: '15', height: '15')) + " Edit my Profile", edit_user_registration_path %></li>
                <li>
                    <%= link_to (image_tag("out.png", width: '15', height: '15')) + " Exit", destroy_user_session_path,  :method=>'delete' %>
                </li>                

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12"><p id="notice"><%= notice %></p>