<%= render 'sidebar' %>

<h1>Your Templates</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th> Template Name </th>
      <th colspan="3"></th>
      
    </tr>
  </thead>

  <tbody>
    <% @templates.each do |template| %>
      <tr class="<%= template.processed_attachement_url ? 'success' : 'danger' %>">
        <td><%= template.name %></td>
        <td><%= link_to 'View', template %></td>
        <td><%= link_to 'Set Signature Position', edit_template_path(template) %></td>
        <td><%= link_to 'Delete Template', template, method: :delete, data: { confirm: "Are you sure?  Any documents you've created using this template will no longer be available" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Create a new Template', new_template_path, :class =>"btn btn-success", :method => :get  %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>