<%= render 'sidebar' %>

<h1>Create a New Template</h1>

<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="fields">
  Give your template a name
  <%= f.text_field :name %>
</div>

<div class="fields">
  Upload your template
  <%= f.file_field :attachment1 %>
</div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', templates_path %>
