<meta name="viewport" content="width=device-width, initial-scale=1">
<%= form_for(@document, html: { multipart: true}) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="center">
  <nav class="navbar navbar-default nav-float">
    <button class="btn btn-success btn-lg text-center navbutton" type="button" data-toggle="modal" data-target="#signatureModal">Complete and Sign</button>
  </nav>
</div>
<script src="\assets\json2.min.js"></script>
<link href="\assets\jquery.signaturepad.css" rel="stylesheet">
<!-- <script type="text/javascript">
    $(window).load(function(){
        $('#instructionsModal').modal('show');
    });
</script> -->

<div id="textfields" style="cursor:text">





<%= image_tag @document.template.attachment1.url(:image), :class => 'zindex', width: '1225', height: '1500', margin: '0px', padding: '0px'%>


<br>


<!--Signature Modal -->
<div class="modal fade sigmodal" id="signatureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign below to complete</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="" class="sigPad">

    <div class="sigPad">
    <div class="sig sigWrappersignup">
       <canvas class="signuppad" width="498" height="73" ></canvas>
      <%= f.hidden_field :signature, class: "output" %>
    </div>
  </div>
</div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 
        <input type="submit" class="btn btn-primary" name="commit" value="Sign and Complete" />
      </div>
    </div>
  </div>
</div>

<!--
Instructions Modal
<div class="modal fade in" id="signatureModal" tabindex="-1"  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign below to complete</h4>
      </div>
      <div class="modal-body">
        
        XX

 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="signatureModal">Close</button>
        </div>
    </div>
  </div>
</div>
-->
</div> <!-- image div -->
<% end %>