  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "print_media" %>
    <%= wicked_pdf_javascript_include_tag "rendersignature.js" %>
    <%= wicked_pdf_javascript_include_tag "sigpad.js" %>
    <%= wicked_pdf_javascript_include_tag "jquery.signaturepad.js" %>
  </head>
<body class="body">
<% @document.dynamic_textfields.each do |dt| %>
 <div class='positivez'>
 <div style='position: absolute; left: <%= dt.left %>px; top: <%= dt.top %>px' >
    <input class='rendered-dynamic-textfield' readonly value='<%= dt.text %>' />
  </div>
 <% end %>
 <div id="signature" style='position: absolute; left: <%= @document.template.signature_position.left %>px; top: <%= @document.template.signature_position.top %>px '>
  <div class="sigshow sigWrappershow">
    <canvas class="padShow" width="540" height="100"></canvas>
    <br>
    Electronically signed at: <%= @document.updated_at %>
  </div>
</div>
<script type="text/javascript">
$(function() {
  renderSignature(<%= @document.signature.to_json.html_safe %>, 'div#signature');
});
</script>  
</div>
</div>
<%= image_tag @document.template.processed_attachement_url, width: '1110' %>
</body>