<p id="notice"><%= notice %></p>
<%= image_tag @document.template.attachment1.url(:image), :class => 'zindex', width: '1125', height: '1500'%>
<p>
  <strong>User:</strong>
  <%= @document.user_id %>
</p>
<div draggable="true">
<p>
  <strong>Signature:</strong>
  <%= @document.signature %>
</p>
</div>
<p>
  <strong>Date:</strong>
  <%= @document.date %>
</p>

<p>
  <strong>Text1:</strong>
  <%= @document.text1 %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
