<%= stylesheet_link_tag 'documents.scss', :media => "all" %>
<%= image_tag @document.template.attachment1.url(:image), :class => 'zindex', width: '100%', margin: '0px', padding: '0px'%>

<% @document.dynamic_textfields.each do |dt| %>
  <div style='position: absolute; left: <%= dt.left %>px; top: <%= dt.top %>px' >
    <input class='rendered-dynamic-textfield' readonly value='<%= dt.text %>' />
  </div>


 <% end %> 
